<ul class="activities">
    {% for activity in activities %}
    <li class="activity">
        <div class="activity-thumbnail">
            <a href="{{ url_for('.user', username=activity.publisher.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ activity.publisher.gravatar(size=140) }}">
            </a>
        </div>
        <div class="activity-content " style="margin-left:150px">
            <div class="line_bolder" style="margin-top:-4px;float:left;"><b>Publisher:</b></div>
            <div id="Publisher" class="line" style="padding-left:10px;margin:auto;margin-top:-4px;">
                <a href="{{ url_for('.user', username=activity.publisher.username) }}">
                    {{activity.publisher.username }}
                </a>
            </div>

            <div class=" line-bolder" style="margin-top:-4px;float:left;"><b>Activity name:</b></div>
            <div id="activity_name" class="line" style="padding-left:10px;margin:auto;margin-top:-4px;">
                {{ activity.name }}
            </div>

            <div class="line-bolder" style="margin-top:-4px;float:left;"><b>Activity status:</b></div>
            <div id="activity_status" class="line" style="padding-left:10px;margin:auto;margin-top:-4px;">
                {{ activity._status2html() |safe}}
            </div>

            <div class="line_bolder" style="margin-top:-4px;float:left;"><b>Publish time:</b></div>
            <div id="Publish_timestamp" class="line" style="padding-left:10px;margin:auto;margin-top:-4px;">
                {{ moment(activity.publish_timestamp).fromNow() }}
            </div>

            <div class="line_bolder" style="margin-top:-4px;float:left;"><b>Activity time:</b></div>
            <div id="Publish_time_range" class="line" style="padding-left:10px;margin:auto;margin-top:-4px;">
                {{ activity.begin_timestamp.__format__("%Y-%m-%d %H:%M") + " to " +
                activity.end_timestamp.__format__("%Y-%m-%d %H:%M")}}
            </div>

            <div class="line_bolder" style="margin-top:-4px;float:left;"><b>Activity location:</b></div>
            <div id="Publish_location" class="line" style="padding-left:10px;margin:auto;margin-top:-4px;">
                {{ activity.location}}
            </div>

            <div class="line_bolder" style="margin-top:-4px;float:left;"><b>Activity description:</b></div>
            <div id="Publish_description" class="line" style="padding-left:10px;margin:auto;margin-top:-4px;">
                {{activity.description}}
            </div>

            <div class="line_bolder" style="margin-top:-4px;float:left;"><b>Activity capacity:</b></div>
            <div id="Publish_capacity" class="line" style="padding-left:10px;margin:auto;margin-top:-4px;">
                {{activity.capacity}}
            </div>
            <div class="activity-footer" style="text-align: right;">
                {% if current_user == activity.publisher %}
                <a href="{{ url_for('.edit', id=activity.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                <a href="{{ url_for('.delete', id=activity.id) }}">
                    <span class="label label-primary">Delete</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=activity.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                <a href="{{ url_for('.delete', id=activity.id) }}">
                    <span class="label label-danger">Delete [Admin]</span>
                </a>
                {% endif %}
                {% if current_user != activity.publisher %}
                <a href="{{ url_for('.participate', id=activity.id) }}">
                    <span class="label label-primary">Participate</span>
                </a>
                {% endif %}
                <a href="{{url_for('.activity',id=activity.id)}}">
                    <span class="label label-default">
                        Permalink
                    </span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>