<head>
    <title>intro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body for="html-export">
<div class="mume markdown-preview  ">
    <h3 class="mume-header" id="introduction">Introduction</h3>

    <p>WeSalon is a brand-new mode for Online to Offline academic discussions.</p>
    <p>With the help of this tool, students can publish the discussion activity online and communicate with academic
        partners offline.</p>
    <p>Specifically, a student can apply for an activity at a certain place, list all the activities, participate in an
        activity and make some comments on a held activity.</p>
    <h3 class="mume-header" id="you-can">You can</h3>

    <ul>
        <li>
            <p>Manage the activities;</p>
        </li>
        <li>
            <p>Update (modify/delete) the status of the activities.</p>
        </li>
        <li>
            <p>Display each status of the activities separately.</p>
        </li>
        <li>
            <p>Apply for an activity;(each activity has its own capacity, please note the possible conflicts with
                previously reserved places or time)</p>
        </li>
        <li>
            <p>Participate in an activity; (a student can participate in an activity if there are no<br>
                conflicts with other participated activities and the current participation number is<br>
                below the activity capacity)</p>
        </li>
        <li>
            <p>Comment on an activity; (a student can only comment on an activity iff he/she<br>
                has participated in the activity and the activity has been finished)</p>
        </li>
        <li>
            <p>Filter the activities. (e.g. sort the reserved activities that will hold English Corner<br>
                ascending by the start time and descending by the activity capacities. You can filter<br>
                any type of activities as you like)</p>
        </li>
    </ul>

</div>


</body>
