{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}WeSalon - Activity{% endblock %}

{% block page_content %}
{% include '_activities.html' %}
<h2 id="comments">Comments:</h2>
{% if current_user.can(Permission.COMMENT) %}
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include '_comments.html' %}

<div>
    <h2>Participants of this activity:</h2>
</div>
<table class="table table-hover participants">
    <thead>
    <tr>
        <th>User</th>
        <th>Participated Time</th>
    </tr>
    </thead>
    {% for participant in participants %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = User.query.filter_by(id=participant.user).first().username) }}">
                <img class="img-rounded"
                     src="{{ User.query.filter_by(id=participant.user).first().gravatar(size=32) }}">
                {{ User.query.filter_by(id=participant.user).first().username }}
            </a>
        </td>
        <td>{{ moment(participant.timestamp).format('L') }}</td>
    </tr>
    {% endfor %}
</table>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, id=endpoint_id)}}
</div>
{% endif %}
{% endblock %}